@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AboutUs{

    <center style="padding-left: 50px; padding-right: 50px;">

        <div style="background-image: url(/images/i2.jpg); align-content: center; padding-top: 10px;margin-top:200px;border-color:#17134b;border:solid;border-width:1px" class="center-block">

            <p style="font-size:80px;color:#a9edf9">This a Website to facilitate the Teachers as well as<br />
             the Student to communicate at a single Plateform.This is an effort to mitigate the Students'<br />
             difficulty that they have to keep them updated from  multiple Plateforms <br />simultanously.So Create one account and connect to your Teachers as well as Students.
            
            </p>

        </div>
    </center>



   
}