@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AboutUs{
<center>

    <div style="background-image: url(/images/i2.jpg);  width: 560px; align-content: center; padding-top: 10px; margin-top: 200px; border-color: #17134b; border: solid; border-width: 1px" class="center-block">
        <h1 style="font-size:50px;color:#a9edf9"> Contact Us At:</h1>
        <ul style="font-size:30px;color:#a9edf9">
            <li>Email:mcsf14m030@pucit.edu.pk</li>
            <li>Phone:923361234567</li>

        </ul>

    </div>
</center>
    }